/* ==============================
   SECTION 1: RESET CSS
   ============================== */
   @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
 
   html{
    font-size: 62.5%; /*16 multipliter 62.5% = 10 rem */
}
body{
    font: 1.6rem "sans-serif", "Montserrat";
    margin: 0;
    letter-spacing: 0.1rem; /* 1 px */
    line-height: 1.6;
    background-color: var(--bgcolor-theme);
}
h1 ,h2 ,h3 ,p ,figure ,ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
}
*{
    box-sizing: border-box;
}
 