/* ==============================
   SECTION 1: RESET CSS
   ============================== */
   @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
 
   html{
    font-size: 62.5%; /*16 multipliter 62.5% = 10 rem */
}
body{
    font: 1.6rem "sans-serif", "Montserrat";
    margin: 0;
    letter-spacing: 0.1rem; /* 1 px */
    line-height: 1.6;
    background-color: var(--bgcolor-theme);
}
h1 ,h2 ,h3 ,p ,figure ,ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
}
*{
    box-sizing: border-box;
}
 
/* ==============================
   SECTION 2: THEME CSS
   ============================== */
:root{
    --bgcolor-theme : rgba(45, 52, 54,1.0);
    --bgcolor-header: #222;
    --bgcolor-list: rgba(223, 230, 233,1.0);
    --letter-color: #fff;
    --letter-color-default: #222;
}
/* header */
header > h1 {
    text-align: center;
    color: var(--letter-color);
    line-height: 6.5rem;
}
/* figure */
figure{
    max-width: 90rem;
    margin: 0 auto;
    border: solid .1rem #f5ebeb;
    padding: 1rem;
    background-color: var(--letter-color);
}
figure img{
    display: inline-block;
    max-width: 100%;
}
figure figcaption ul{
    line-height: 6rem;
}
figure figcaption ul.list-movie li{
    padding: 0 .5rem;
}
figure figcaption ul.list-movie li:nth-child(2n + 1){ /* 1 sur 2 à partir du 1er */
    background-color: var(--bgcolor-list);
 
}
/* detail du film */
details summary{
    line-height: 6rem;
    background-color: var(--bgcolor-list);
    padding-left: .5rem;

}

details p{
    padding: 0 .5rem;
}
